/*VARIABLES*/
/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 4rem 1rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
}
@media screen and (max-width: 995px) {
  .main-grid {
    justify-content: center;
  }
}

/* Nav */
.profile-config {
  font-size: 1.5rem;
  align-items: center;
}

.profile-config a {
  text-decoration: none;
  color: black;
}

header {
  margin-top: -0.5rem;
}
header .navbar .container-fluid {
  background-color: #d29040;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 667px) {
  header .navbar .container-fluid {
    justify-content: center !important;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
header .navbar .container-fluid img {
  transition: 1s ease;
  max-width: 70px;
  border-radius: 15px;
}
header .navbar .container-fluid img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 667px) {
  header .navbar .container-fluid ul {
    align-items: center;
  }
}
header .navbar .container-fluid ul li {
  margin: 20px;
  transition: 2s ease;
  border-radius: 15px;
}
header .navbar .container-fluid ul li:hover {
  background-color: #985d29;
  transform: scale(1.1);
  border: 1px solid;
}
header .navbar .container-fluid ul li a {
  text-decoration: none;
  color: black;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}
@media screen and (max-width: 995px) {
  .navbar-collapse {
    justify-content: center;
  }
}

/* Nav */
/* Slider */
.slide {
  max-width: 700px;
  grid-row: 1/2;
}
@media screen and (max-width: 995px) {
  .slide {
    max-width: none;
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

/* Slider */
/* INICIO */
.contenedor-info {
  grid-column: 2/-1;
  margin-left: 3rem;
}
@media screen and (max-width: 995px) {
  .contenedor-info {
    grid-column: 1/-1;
    margin-top: 1.2rem;
    margin-left: 0;
  }
}

/* INICIO */
/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #653518;
  align-items: center;
  height: 70px;
  padding: 0 2rem;
}
@media screen and (max-width: 401px) {
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 2rem;
  }
}
footer img {
  max-width: 60px;
}
footer p {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
footer a {
  color: black;
}
footer a i {
  font-size: 2rem;
  color: black;
}

/* FOOTER */
/* PRODUCTOS */
.main-grid-productos {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: auto;
  gap: 50px;
}
@media screen and (max-width: 467px) {
  .main-grid-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.main-grid-productos aside.aside-productos {
  grid-column: 1/2;
  padding-left: 1.4rem;
}
.main-grid-productos aside.aside-productos .title-aside {
  font-size: 1.4rem;
}
.main-grid-productos aside.aside-productos .title-aside-productos {
  display: flex;
  align-items: center;
}
.main-grid-productos aside.aside-productos .title-aside-productos:hover {
  color: #985d29;
}
.main-grid-productos aside.aside-productos .p-aside-productos {
  font-size: 1rem;
}
.main-grid-productos aside.aside-productos .p-aside-productos-marcas {
  font-size: 1rem;
  color: rgb(84, 84, 84);
}
.main-grid-productos aside.aside-productos .p-aside-productos-marcas:hover {
  color: #985d29;
}
.main-grid-productos aside.aside-productos .marcas {
  border-top: 1px solid black;
  padding-top: 10px;
}
.main-grid-productos .section-productos {
  grid-column: 2/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-grid-productos .section-productos .card-productos {
  box-shadow: 7px 10px 19px -12px rgba(0, 0, 0, 0.75);
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 15px;
  transition: 1s ease;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
}
.main-grid-productos .section-productos .card-productos img {
  max-width: 200px;
  transition: 3s ease;
}
.main-grid-productos .section-productos .card-productos img:hover {
  transform: rotate(30deg);
}
.main-grid-productos .section-productos .card-productos h3 {
  padding-top: 7px;
  border-top: 1px solid;
}
.main-grid-productos .section-productos .card-productos h3,
.main-grid-productos .section-productos .card-productos p,
.main-grid-productos .section-productos .card-productos a {
  position: relative;
  z-index: 1;
}
.main-grid-productos .section-productos .card-productos a {
  text-decoration: none;
  color: black;
}
.main-grid-productos .section-productos .card-productos a:hover {
  background-color: #d29040;
}
.main-grid-productos .section-productos .card-productos:hover {
  transform: scale(1.1);
}

/*PRODUCTOS */
/* FORM */
.background-page {
  position: relative;
}
.background-page .formulario-contacto {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 5rem;
}
@media screen and (max-width: 667px) {
  .background-page .formulario-contacto {
    padding: 0;
  }
}
.background-page .formulario-contacto form {
  display: inline-block;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 10px 19px -7px rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  margin-top: 2rem;
  background-color: white;
  overflow: hidden;
}
.background-page .formulario-contacto form img {
  float: left;
  margin-top: 10rem;
}
@media screen and (max-width: 667px) {
  .background-page .formulario-contacto form img {
    display: none;
  }
}
.background-page .formulario-contacto form fieldset {
  padding: 2rem;
  border: none;
}
.background-page .formulario-contacto form fieldset label,
.background-page .formulario-contacto form fieldset input,
.background-page .formulario-contacto form fieldset button,
.background-page .formulario-contacto form fieldset textarea {
  display: block;
  margin-left: 1rem;
  width: 88%;
  border-radius: 0.5rem;
  border: none;
}
.background-page .formulario-contacto form fieldset input,
.background-page .formulario-contacto form fieldset textarea {
  background-color: #d5d3ce;
  padding: 10px;
}
.background-page .formulario-contacto form fieldset textarea {
  transition: 1s ease;
}
.background-page .formulario-contacto form fieldset textarea:hover {
  transform: scale(1.1);
}
.background-page .formulario-contacto form fieldset button {
  margin-top: 0.7rem;
  height: 2rem;
  background-color: #d29040;
  transition: 1s ease;
}
.background-page .formulario-contacto form fieldset button:hover {
  transform: scale(1.1);
}
.background-page .formulario-contacto form fieldset input {
  height: 2rem;
  margin-top: 0.3rem;
  transition: 1s ease;
}
.background-page .formulario-contacto form fieldset input:hover {
  transform: scale(1.1);
}
.background-page .formulario-contacto form fieldset label {
  margin-top: 0.5rem;
}

.background-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../multimedia/background-image.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 1;
}

/* FORM */
/* OFERTAS */
.card-oferta img {
  max-width: 250px;
  max-height: 200px;
}

.card-oferta:hover {
  transform: scale(1.1);
}

.card-oferta {
  box-shadow: 7px 10px 19px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-width: 250px;
  transition: 1s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: white;
}

.card-oferta h3 {
  text-align: center;
}

aside.categorias-ofertas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
}

#ofertas-article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.titulo {
  text-align: center;
}

.card-body {
  height: 100%;
  width: 300px;
}

.fondo {
  background-color: #985d29;
}

.btn {
  background-color: #985d29;
  border: none;
}

.btn:hover {
  background-color: white;
  color: #985d29;
  border: 1px solid #985d29;
}

/* OFERTAS */
/* ENVIOS */
.grid-envios {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: auto;
  margin: 2rem 0;
}
@media screen and (max-width: 1171px) {
  .grid-envios {
    display: flex;
    flex-direction: column;
  }
}
.grid-envios aside.categorias-envios {
  margin-left: 3rem;
  padding-right: 1rem;
}
.grid-envios aside.categorias-envios .title-categorias-envios {
  font-size: 1.4rem;
  margin-top: 3rem;
}
.grid-envios aside.categorias-envios a {
  text-decoration: none;
  color: black;
}
.grid-envios aside.categorias-envios .p-categorias-envios {
  font-size: 1.2rem;
  color: rgb(92, 92, 92);
  color: black;
}
.grid-envios #article-opciones-envio table,
.grid-envios #article-opciones-envio td,
.grid-envios #article-opciones-envio th {
  border: 1px solid black;
  text-align: center;
}
@media screen and (max-width: 467px) {
  .grid-envios #article-opciones-envio table,
  .grid-envios #article-opciones-envio td,
  .grid-envios #article-opciones-envio th {
    border: 1px solid black;
    text-align: center;
  }
}
.grid-envios #article-opciones-envio td,
.grid-envios #article-opciones-envio th {
  padding: 2rem;
}
@media screen and (max-width: 467px) {
  .grid-envios #article-opciones-envio td,
  .grid-envios #article-opciones-envio th {
    padding: 0rem;
  }
}
.grid-envios aside#aside-envios-der {
  margin-top: 2rem;
  padding: 1rem;
}

/* ENVIOS */
/* CATEGORIAS CARD PRINCIPAL */
.categorias-principales {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: 1/-1;
  background: linear-gradient(to bottom, #985d29 50%, rgba(0, 0, 0, 0) 50%);
}
.categorias-principales .cat-card {
  margin: 1rem;
  transition: 1s ease;
  text-align: center;
}
.categorias-principales .cat-card:hover {
  transform: translateY(-18px);
}
.categorias-principales .cat-card img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  box-shadow: 7px 10px 19px -7px rgba(0, 0, 0, 0.35);
}

#ver-catalogo {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}
#ver-catalogo #ver-catalogo-button {
  border-radius: 15px;
  background-color: black;
  color: white;
  grid-column: 1/-1;
  text-align: center;
  width: 100px;
  padding: 0.3rem;
  transition: 1s ease;
}
#ver-catalogo #ver-catalogo-button:hover {
  transform: scale(1.1);
}

/* CATEGORIAS CARD PRINCIPAL */
aside.aside-productos {
  font-size: 1rem;
}

aside.aside-productos h3 {
  font-size: 1.2rem;
}

/*# sourceMappingURL=estilos.css.map */
