/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    background-color: $color-medio;
    align-items: center;
    height: 70px;
    padding: 0 2rem;
    @include small-phone {
      display: flex;
      flex-direction: column;
      height: auto;
      padding-top: 2rem;
    }
    img {
      max-width: 60px;
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: black;
    }
    a {
      color: black;
      i {
        font-size: 2rem;
        color: black;
        transition: 0.5s ease;
        &:hover {
          transform: scale(1.2);   
        }
      }
    }
  }
  /* FOOTER */