@mixin medium-desktop {
  @media screen and (max-width: 1171px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 995px) {
    @content;
  }
}
@mixin small-tablet {
  @media screen and (max-width: 667px) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: 467px) {
    @content;
  }
}
@mixin small-phone {
  @media screen and (max-width: 401px) {
    @content;
  }
}

/*VARIABLES*/
$color-oscuro: #401a0c;
$color-medio: #653518;
$color-medio-claro: #985d29;
$color-claro: #d29040;
$color-claro-brillo: #eac94f;
/*VARIABLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 4rem 1rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  @include tablet {
    justify-content: center;
  }
}

/* Nav */
.profile-config {
  font-size: 1.5rem;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
  }
}

header {
  margin-top: -0.5rem;
  .navbar {
    .container-fluid {
      background-color: $color-claro;
      box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
      @include small-tablet {
        justify-content: center !important;
        flex-wrap: nowrap;
        flex-direction: column;
      }
      img {
        transition: 1s ease;
        max-width: 70px;
        border-radius: 15px;
        &:hover {
          transform: scale(1.1);
        }
      }
      ul {
        @include small-tablet {
          align-items: center;
        }
        li {
          margin: 20px;
          transition: 0.9s ease;
          border-radius: 15px;
          &:hover {
            background-color: #985d29;
            box-shadow:3px 4px 5px 0px rgba(0, 0, 0, 0.75);
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}

.navbar-collapse {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  @include tablet {
    justify-content: center;
  }
}  /* no usado con nesting por un problema en funcionamiento del boton */

/* Nav */

/* Slider */
.slide {
  max-width: 700px;
  grid-row: 1/2;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  overflow: hidden;
  @include tablet {
    max-width: none;
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
/* Slider */

/* INICIO */
.contenedor-info {
  grid-column: 2/-1;
  margin-left: 3rem;
  @include tablet {
    grid-column: 1/-1;
    margin-top: 1.2rem;
    margin-left: 0;
  }
}

/* INICIO */

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background-color: $color-medio;
  align-items: center;
  height: 70px;
  padding: 0 2rem;
  @include small-phone {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 2rem;
  }
  img {
    max-width: 60px;
  }
  p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  a {
    color: black;
    i {
      font-size: 2rem;
      color: black;
    }
  }
}
/* FOOTER */

/* PRODUCTOS */
.main-grid-productos {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: auto;
  gap: 50px;
  @include phone {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  aside.aside-productos {
    grid-column: 1/2;
    padding-left: 1.4rem;
    @include small-phone{
      padding: 0;
    }
    .title-aside {
      font-size: 1.4rem;
    }
    .title-aside-productos {
      display: flex;
      align-items: center;
      &:hover {
        color: $color-medio-claro;
      }
    }
    .p-aside-productos {
      font-size: 1rem;
    }
    .p-aside-productos-marcas {
      font-size: 1rem;
      color: rgb(84, 84, 84);
      &:hover {
        color: $color-medio-claro;
      }
    }
    .marcas {
      border-top: 1px solid black;
      padding-top: 10px;
    }
  }
  .section-productos {
    grid-column: 2/-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to top, $color-medio, $color-medio-claro, $color-claro);
    border-radius: 3rem;
    box-shadow: -6px 7px 5px -3px rgba(0,0,0,0.53);
    .card-productos {
      box-shadow: 7px 10px 19px -12px rgba(0, 0, 0, 0.75);
      max-width: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      margin: 15px;
      transition: 1s ease;
      overflow: hidden;
      border-radius: 15px;
      background-color: white;
      img {
        max-width: 200px;
        transition: 3s ease;
        &:hover {
          transform: rotate(30deg);
        }
      }
      h3 {
        padding-top: 7px;
        border-top: 1px solid;
      }
      h3,
      p,
      a {
        position: relative;
        z-index: 1;
      }
      a {
        text-decoration: none;
        color: black;
        &:hover {
          background-color: $color-claro;
        }
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
/*PRODUCTOS */

/* FORM */
.background-page {
  position: relative;
  .formulario-contacto {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 5rem;
    @include small-tablet {
      padding: 0;
    }
    form {
      display: inline-block;
      justify-content: center;
      align-items: center;
      box-shadow: 7px 10px 19px -7px rgba(0, 0, 0, 0.75);
      border-radius: 2rem;
      margin-top: 2rem;
      background-color: white;
      overflow: hidden;
      img {
        float: left;
        margin-top: 10rem;
        @include small-tablet {
          display: none;
        }
      }
      fieldset {
        padding: 2rem;
        border: none;
        label,
        input,
        button,
        textarea {
          display: block;
          margin-left: 1rem;
          width: 88%;
          border-radius: 0.5rem;
          border: none;
        }
        input,
        textarea {
          background-color: #d5d3ce;
          padding: 10px;
        }
        textarea {
          transition: 1s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
        button {
          margin-top: 0.7rem;
          height: 2rem;
          background-color: $color-claro;
          transition: 1s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
        input {
          height: 2rem;
          margin-top: 0.3rem;
          transition: 1s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
        label {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.background-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../multimedia/background-image.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 1;
}
/* FORM */

/* OFERTAS */
.card-oferta {
  box-shadow: 7px 10px 19px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-width: 250px;
  transition: 1s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: white;
  &:hover {
    transform: scale(1.1);
  }
  img {
    max-height: 350px;
  }
  h3 {
    text-align: center;
    margin: auto;
  }
}

aside.categorias-ofertas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
}

#ofertas-article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.titulo {
  text-align: center;
}

.card-body {
  height: 100%;
  width: 300px;
}

.fondo {
  background-color: $color-medio-claro;
}

.btn {
  background-color: #985d29;
  border: none;
}
.btn:hover {
  background-color: white;
  color: $color-medio-claro;
  border: 1px solid $color-medio-claro;
}
/* OFERTAS */

/* ENVIOS */
.grid-envios {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: auto;
  margin: 2rem 0;
  @include medium-desktop {
    display: flex;
    flex-direction: column;
  }
  aside.categorias-envios {
    margin-left: 3rem;
    padding-right: 1rem;
    .title-categorias-envios {
      font-size: 1.4rem;
      margin-top: 3rem;
    }
    a {
      text-decoration: none;
      color: black;
    }
    .p-categorias-envios {
      font-size: 1.2rem;
      color: rgb(92, 92, 92);
      color: black;
    }
  }
  #article-opciones-envio {
    background-color: $color-claro;
    border-radius: 15px;
    @include phone{
      overflow: hidden;
    }
    table,
    td,
    th {
      text-align: center;
      @include phone {
        border: 1px solid black;
        text-align: center;
      }
    }
    td,
    th {
      padding: 2rem;
      @include phone {
        padding: 0rem;
      }
    }
    td {
      i {
        font-size: 2rem;
      }
    }
    h1 {
      text-align: center;
    }
  }
  aside#aside-envios-der {
    margin-top: 2rem;
    padding: 1rem;
  }
}
/* ENVIOS */

/* CATEGORIAS CARD PRINCIPAL */
.categorias-principales {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: 1/-1;
  background: linear-gradient(
    to bottom,
    $color-medio-claro 50%,
    rgba(0, 0, 0, 0) 50%
  );
  .cat-card {
    margin: 1rem;
    transition: 1s ease;
    text-align: center;
    &:hover {
      transform: translateY(-18px);
    }
    img {
      width: 150px;
      height: 150px;
      border-radius: 50px;
      box-shadow: 7px 10px 19px -7px rgba(0, 0, 0, 0.35);
    }
  }
}

#ver-catalogo {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  #ver-catalogo-button {
    border-radius: 15px;
    background-color: black;
    color: white;
    grid-column: 1/-1;
    text-align: center;
    width: 100px;
    padding: 0.3rem;
    transition: 1s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/* CATEGORIAS CARD PRINCIPAL */
aside.aside-productos {
  font-size: 1rem;
}
aside.aside-productos h3 {
  font-size: 1.2rem;
}
