* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_header-nav.scss";
@import "./_inicio.scss";
@import "./_productos.scss";
@import "./_ofertas.scss";
@import "./_envios.scss";
@import "./_form.scss";
@import "./_footer.scss";

main {
  padding: 4rem 1rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  @include tablet {
    justify-content: center;
  }
}

